/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/lib/_bootstrap-slickgrid.scss */
.renderGrid.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: #dedede;
  border-style: solid;
  text-align: center;
}

/* line 11, ../sass/lib/_bootstrap-slickgrid.scss */
.grid input[type="checkbox"] {
  vertical-align: baseline;
  margin: 0;
}

/* line 22, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-row {
  border: 0 none;
  position: absolute;
  width: 100%;
  background-color: #ebf7e1;
  background-image: none;
}

/* line 30, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-row.inactive {
  background-color: #ffe3e3;
}

/* line 34, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-row:active,
.grid .grid-canvas .slick-row:hover {
  background-color: skyblue;
}

/* line 39, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell,
.grid .grid-canvas .slick-headerrow-column {
  border: 1px solid #dddddd;
}

/* line 52, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell {
  height: 42px;
  line-height: 42px;
  background-color: transparent;
}

/* line 58, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell a .glyphicon {
  color: black;
}

/* line 62, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell a .glyphicon-pencil {
  color: black;
}

/* line 66, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell a .glyphicon-off {
  color: green;
}

/* line 70, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell a .glyphicon-off.inactive {
  color: red;
}

/* line 74, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell .buttons {
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

/* line 81, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell .buttons a {
  display: inline-block;
  line-height: 40px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 24px;
}

/* line 89, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell td {
  font-size: 14px;
}

/* line 93, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell .cellImage {
  float: left;
  width: 29px;
  line-height: 37px;
}

/* line 99, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell .cellImage img {
  display: inline-block;
  vertical-align: middle;
  width: 29px;
  height: 30px;
  border-radius: 50%;
}

/* line 107, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell a,
.grid .grid-canvas .slick-cell a:visited,
.grid .grid-canvas .slick-cell .ui-widget-content a,
.grid .grid-canvas .slick-cell .ui-widget-content a:visited {
  color: #0088cc;
  text-decoration: none;
}

/* line 115, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell a:hover,
.grid .grid-canvas .slick-cell .ui-widget-content a:hover {
  color: #005580;
  text-decoration: none;
  border-bottom: none;
}

/* line 122, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell table {
  height: 100%;
  border: 0 none;
  padding: 0;
  background: none;
}

/* line 129, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .grid-canvas .slick-cell td {
  border: 0 none;
  padding: 0;
  vertical-align: middle;
  text-align: left;
}

/* line 136, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header {
  border-width: 1px;
}

/* line 140, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns {
  background-color: #666666;
}

/* line 144, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column {
  height: 42px;
  line-height: 42px;
  margin: 0;
  border-color: #FFFFFF;
  background: transparent;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

/* line 167, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column a,
.grid .slick-header-columns .slick-header-column a:visited {
  color: #333333;
}

/* line 172, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column a:hover {
  color: #333333;
}

/* line 176, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column.ui-state-default {
  /* like
  padding: 0;
TH  */
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

/* line 188, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column.ui-state-default a,
.grid .slick-header-columns .slick-header-column.ui-state-default a:visited {
  color: #333333;
}

/* line 193, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column.ui-state-default a:hover {
  color: #333333;
}

/* line 197, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column.slick-header-column-sorted {
  font-style: normal;
  color: #333333;
}

/* line 202, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column:hover {
  color: #333333;
}

/* line 206, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column .slick-sort-indicator-asc {
  vertical-align: middle;
}

/* line 210, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-header-columns .slick-header-column .slick-sort-indicator-desc {
  vertical-align: middle;
}

/* line 214, ../sass/lib/_bootstrap-slickgrid.scss */
.grid-col {
  padding: 35px;
}

/* line 218, ../sass/lib/_bootstrap-slickgrid.scss */
.info-col {
  padding: 20px;
}

/* line 222, ../sass/lib/_bootstrap-slickgrid.scss */
input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
  text-align: center;
}

/* line 239, ../sass/lib/_bootstrap-slickgrid.scss */
.grid .slick-cell.invalid {
  border-color: red;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-name: slickgrid-invalid-hilite;
  -webkit-animation-name: slickgrid-invalid-hilite;
}

/* line 3, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .renderGrid.grid {
  position: relative;
  width: 100%;
  border-width: 1px;
  border-color: #dedede;
  border-style: solid;
  text-align: center;
}
/* line 12, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-row {
  border: 0 none;
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  background-image: none;
}
/* line 20, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-row:active,
.invoiceProductsGrid .grid .grid-canvas .slick-row:hover {
  background-color: #c4e3f3;
}
/* line 29, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell a .glyphicon {
  color: black;
}
/* line 33, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell a .glyphicon-pencil {
  color: black;
}
/* line 37, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell a .glyphicon-off {
  color: green;
}
/* line 41, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell a .glyphicon-off.inactive {
  color: red;
}
/* line 45, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell .buttons {
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}
/* line 52, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell .buttons a {
  display: inline-block;
  line-height: 40px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 24px;
}
/* line 60, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell td {
  font-size: 14px;
}
/* line 64, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell a,
.invoiceProductsGrid .grid .grid-canvas .slick-cell a:visited,
.invoiceProductsGrid .grid .grid-canvas .slick-cell .ui-widget-content a,
.invoiceProductsGrid .grid .grid-canvas .slick-cell .ui-widget-content a:visited {
  color: #0088cc;
  text-decoration: none;
}
/* line 72, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell a:hover,
.invoiceProductsGrid .grid .grid-canvas .slick-cell .ui-widget-content a:hover {
  color: #005580;
  text-decoration: none;
  border-bottom: none;
}
/* line 79, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns {
  background-color: #3498db;
}
/* line 83, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column {
  height: 42px;
  line-height: 42px;
  margin: 0;
  border-color: lightgrey;
  background: transparent;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
/* line 94, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column a,
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column a:visited {
  color: #333333;
}
/* line 99, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column a:hover {
  color: #333333;
}
/* line 103, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column.ui-state-default {
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
/* line 111, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column.ui-state-default a,
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column.ui-state-default a:visited {
  color: #333333;
}
/* line 116, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column.ui-state-default a:hover {
  color: #333333;
}
/* line 120, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column.slick-header-column-sorted {
  font-style: normal;
  color: #333333;
}
/* line 125, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column:hover {
  color: #333333;
}
/* line 129, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column .slick-sort-indicator-asc {
  vertical-align: middle;
}
/* line 133, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-header-columns .slick-header-column .slick-sort-indicator-desc {
  vertical-align: middle;
}
/* line 137, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid-col {
  padding: 35px;
}
/* line 141, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .info-col {
  padding: 20px;
}
/* line 145, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
  text-align: center;
}
/* line 157, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .grid-canvas .slick-cell, .invoiceProductsGrid .grid .grid-canvas .slick-headerrow-column {
  border: 1px solid lightgrey;
}
/* line 161, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-cell.invalid {
  border-color: red;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-name: slickgrid-invalid-hilite;
  -webkit-animation-name: slickgrid-invalid-hilite;
}
/* line 175, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-cell .invalidInput {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 180, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-cell .invalidInput .glyphicon-exclamation-sign {
  position: absolute;
  right: 0;
  color: red;
}
/* line 187, ../sass/lib/_products-slickgrid.scss */
.invoiceProductsGrid .grid .slick-cell .removeItem {
  display: inline;
  cursor: pointer;
  font-size: 24px;
}

/* line 11, ../sass/screen.scss */
html {
  height: 100%;
  color: #222;
  font-size: 12px;
  line-height: 1.4;
}

/* line 18, ../sass/screen.scss */
body {
  height: 100%;
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
}

/* line 23, ../sass/screen.scss */
.viewport {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 33, ../sass/screen.scss */
.viewport.slide-menu-push-toright .header {
  width: calc(100% - 240px);
}
/* line 38, ../sass/screen.scss */
.viewport .fixed {
  z-index: 10000;
  top: 0;
  position: fixed;
}
/* line 44, ../sass/screen.scss */
.viewport .headerContainer {
  display: block;
  height: 80px;
}
/* line 49, ../sass/screen.scss */
.viewport main {
  height: calc(100% - 80px);
}
/* line 52, ../sass/screen.scss */
.viewport main .contentContainer {
  height: 100%;
}
/* line 55, ../sass/screen.scss */
.viewport main .contentContainer .page-header {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  height: 74px;
  background-color: lightgrey;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* line 66, ../sass/screen.scss */
.viewport main .contentContainer .gridContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 74px);
  color: #666666;
  background-color: #d9d9d9;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
/* line 78, ../sass/screen.scss */
.viewport main .contentContainer .gridButtons {
  display: block;
  padding: 5px;
}
/* line 83, ../sass/screen.scss */
.viewport main .contentContainer .gridWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 89, ../sass/screen.scss */
.viewport main .contentContainer .btn-default {
  color: #FFFFFF;
  background-color: #3498db;
  border-color: #dddddd;
}
/* line 94, ../sass/screen.scss */
.viewport main .contentContainer .btn-default:hover {
  background-color: royalblue;
}
/* line 98, ../sass/screen.scss */
.viewport main .contentContainer .btn-default:active {
  background-color: blue;
}

/* line 106, ../sass/screen.scss */
.header {
  z-index: 1000;
  position: fixed;
  display: block;
  width: 100%;
  height: 80px;
  background-color: #aed7f2;
  border: solid 2px darkslategrey;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 117, ../sass/screen.scss */
.header .showMenu {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 8px;
  border-width: 0px;
  border-style: solid;
  color: black;
}
/* line 126, ../sass/screen.scss */
.header .showMenu .btn {
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: transparent;
  border: none;
}
/* line 133, ../sass/screen.scss */
.header .showMenu .btn span {
  font-size: 60px;
}
/* line 138, ../sass/screen.scss */
.header .showMenu .btn:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 146, ../sass/screen.scss */
.header div {
  vertical-align: middle;
}
/* line 150, ../sass/screen.scss */
.header .activeUser {
  display: inline-block;
  height: 100%;
  float: right;
  padding: 2px 20px;
}
/* line 156, ../sass/screen.scss */
.header .activeUser .userAvatar {
  display: inline-block;
  width: 76px;
  height: 100%;
  border: solid 2px green;
  border-radius: 50%;
}
/* line 163, ../sass/screen.scss */
.header .activeUser .userAvatar img {
  width: 100%;
  height: 100%;
  border: solid 0;
  border-radius: 50%;
}
/* line 172, ../sass/screen.scss */
.header .activeUser span {
  display: inline-block;
  padding: 0 5px;
  font-weight: bold;
  font-size: 25px;
}
/* line 179, ../sass/screen.scss */
.header .activeUser .userDropdown {
  display: inline-block;
}
/* line 182, ../sass/screen.scss */
.header .activeUser .userDropdown .btn {
  height: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
}
/* line 188, ../sass/screen.scss */
.header .activeUser .userDropdown .btn span {
  font-size: 25px;
}
/* line 193, ../sass/screen.scss */
.header .activeUser .userDropdown .btn:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 200, ../sass/screen.scss */
.header .activeUser .userDropdown .expand {
  transform: rotate(180deg);
}
/* line 204, ../sass/screen.scss */
.header .activeUser .userDropdown .dropdown-menu {
  background: #212c33;
}
/* line 207, ../sass/screen.scss */
.header .activeUser .userDropdown .dropdown-menu li {
  border-style: solid;
  border-bottom-width: 1px;
  border-color: floralwhite;
  font-weight: bold;
  font-size: 18px;
}
/* line 214, ../sass/screen.scss */
.header .activeUser .userDropdown .dropdown-menu li a {
  color: #fff;
}
/* line 218, ../sass/screen.scss */
.header .activeUser .userDropdown .dropdown-menu li :hover {
  background: #1b1b33;
}
/* line 222, ../sass/screen.scss */
.header .activeUser .userDropdown .dropdown-menu li :active {
  background: whitesmoke;
  color: #000;
}
/* line 228, ../sass/screen.scss */
.header .activeUser .userDropdown .dropdown-menu :last-child {
  border: none;
}

/* line 238, ../sass/screen.scss */
.modalWindow {
  text-align: center;
}
/* line 241, ../sass/screen.scss */
.modalWindow .modal-dialog {
  display: inline-block;
  margin: auto;
  width: auto;
}
/* line 246, ../sass/screen.scss */
.modalWindow .modal-dialog .modal-content {
  width: auto;
}
/* line 249, ../sass/screen.scss */
.modalWindow .modal-dialog .modal-content .modal-body {
  padding: 10px;
  width: auto;
  text-align: left;
}

/* line 260, ../sass/screen.scss */
.clientForm {
  width: auto;
}
/* line 263, ../sass/screen.scss */
.clientForm .form-group {
  margin: 0;
  padding-bottom: 0;
}
/* line 268, ../sass/screen.scss */
.clientForm hr {
  margin: 0;
}
/* line 272, ../sass/screen.scss */
.clientForm .inline-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  padding-bottom: 16px;
}
/* line 279, ../sass/screen.scss */
.clientForm .inline-block label.required:after {
  content: "*";
}
/* line 283, ../sass/screen.scss */
.clientForm .inline-block label.invalid {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 196px;
}
/* line 290, ../sass/screen.scss */
.clientForm .inline-block .addresses {
  margin: 0;
  width: 406px;
}
/* line 294, ../sass/screen.scss */
.clientForm .inline-block .addresses .relativeBlock {
  position: relative;
  padding-bottom: 16px;
}
/* line 299, ../sass/screen.scss */
.clientForm .inline-block .addresses .relativeBlock:last-child {
  padding-bottom: 0;
}
/* line 303, ../sass/screen.scss */
.clientForm .inline-block .addresses label.invalid {
  max-width: 616px;
}

/* line 312, ../sass/screen.scss */
.slide-menu {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  left: -240px;
  width: 240px;
  height: 100%;
  background: #212c33;
}
/* line 321, ../sass/screen.scss */
.slide-menu .brandSection {
  display: block;
  margin: 25px 15px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
/* line 329, ../sass/screen.scss */
.slide-menu .brandSection .brand {
  display: inline-block;
  vertical-align: middle;
  width: 76px;
  height: 76px;
}
/* line 335, ../sass/screen.scss */
.slide-menu .brandSection .brand img {
  width: 100%;
  height: 100%;
}
/* line 341, ../sass/screen.scss */
.slide-menu .brandSection span {
  display: inline-block;
  vertical-align: middle;
}
/* line 349, ../sass/screen.scss */
.slide-menu ul li {
  border-top: 1px solid #ffffff;
}
/* line 352, ../sass/screen.scss */
.slide-menu ul li a {
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border: none;
  text-decoration: none;
}
/* line 361, ../sass/screen.scss */
.slide-menu ul li a span {
  margin: 0 20px;
}
/* line 365, ../sass/screen.scss */
.slide-menu ul li a.active {
  background: whitesmoke;
  color: #000;
}
/* line 371, ../sass/screen.scss */
.slide-menu ul li a:hover {
  background: #1b1b33;
  color: #fff;
}
/* line 376, ../sass/screen.scss */
.slide-menu ul li a:active {
  background: whitesmoke;
  color: #000;
}
/* line 382, ../sass/screen.scss */
.slide-menu ul li:last-child {
  border-bottom: 1px solid #ffffff;
}

/* line 391, ../sass/screen.scss */
.slide-menu-open {
  left: 0;
}

/* line 395, ../sass/screen.scss */
.slide-menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 401, ../sass/screen.scss */
.slide-menu-push-toright {
  left: 240px;
  width: calc(100% - 240px);
}

/* line 406, ../sass/screen.scss */
.slide-menu,
.slide-menu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 414, ../sass/screen.scss */
.loginContainer {
  width: 20%;
  margin: 0 auto;
}
/* line 418, ../sass/screen.scss */
.loginContainer .brand {
  text-align: center;
}
/* line 421, ../sass/screen.scss */
.loginContainer .brand img {
  width: 100%;
  height: 100%;
}
/* line 427, ../sass/screen.scss */
.loginContainer .title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
/* line 435, ../sass/screen.scss */
.loginContainer .loginForm label {
  padding: 3px;
}
/* line 439, ../sass/screen.scss */
.loginContainer .loginForm .forgotPasswordLabel {
  float: right;
}
/* line 443, ../sass/screen.scss */
.loginContainer .loginForm .backToLoginLabel {
  float: left;
}
/* line 447, ../sass/screen.scss */
.loginContainer .loginForm label.invalid {
  padding: 0;
}
/* line 452, ../sass/screen.scss */
.loginContainer .signIn, .loginContainer .send {
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #005dcc;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}

/* line 466, ../sass/screen.scss */
label.invalid {
  color: darkred;
}

/* line 470, ../sass/screen.scss */
label.success {
  color: darkgreen;
}

/* line 474, ../sass/screen.scss */
.form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 16px;
}
/* line 479, ../sass/screen.scss */
.form-group label.invalid {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 488, ../sass/screen.scss */
.form-control.invalid {
  border-color: darkred;
}

/* line 492, ../sass/screen.scss */
.form-control.invalid:focus {
  border-color: darkred;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(139, 0, 0, 0.8);
  outline: 0 none;
}

/* line 498, ../sass/screen.scss */
.form-control.success {
  border-color: darkgreen;
}

/* line 502, ../sass/screen.scss */
.form-control.success:focus {
  border-color: darkgreen;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 100, 0, 0.8);
  outline: 0 none;
}

/* line 508, ../sass/screen.scss */
.slick-header *, *:before, *.after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 518, ../sass/screen.scss */
.modalWindow .modal-dialog {
  vertical-align: middle;
}
/* line 522, ../sass/screen.scss */
.modalWindow .modal-header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* line 532, ../sass/screen.scss */
.editWrapper {
  margin: 10px 5px;
}

/* line 538, ../sass/screen.scss */
.userForm label.required:after {
  content: "*";
}
/* line 542, ../sass/screen.scss */
.userForm .form-group {
  padding: 0;
}
/* line 545, ../sass/screen.scss */
.userForm .form-group .inline-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 16px;
}
/* line 552, ../sass/screen.scss */
.userForm .form-group .oldPasswordBlock {
  position: relative;
  display: block;
  vertical-align: top;
  padding-bottom: 16px;
}
/* line 558, ../sass/screen.scss */
.userForm .form-group .oldPasswordBlock .form-control {
  width: auto;
}

/* line 567, ../sass/screen.scss */
.userAvatar {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 572, ../sass/screen.scss */
.userAvatar img {
  display: block;
  margin: auto;
  width: 76px;
  height: 76px;
  border: solid 2px darkgreen;
  border-radius: 50%;
}

/* line 584, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer {
  display: inline-block;
  width: 100%;
  padding: 15px;
  background-color: #eaeaea;
}
/* line 590, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .controlButton {
  padding-bottom: 10px;
}
/* line 594, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container {
  overflow: hidden;
  width: 100%;
}
/* line 598, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container .form-group {
  margin: 5px;
}
/* line 602, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container .clientDetails {
  float: left;
  display: inline-block;
  border: solid 1px;
  background-color: #FFFFFF;
  vertical-align: top;
}
/* line 609, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container .clientDetails .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #3498db;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
/* line 621, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container .invoiceCreationInfo {
  float: right;
  display: block;
  overflow: hidden;
  width: 250px;
  border: solid 1px;
  background-color: #FFFFFF;
  vertical-align: top;
}
/* line 630, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container .invoiceCreationInfo .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #3498db;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
/* line 641, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container .invoiceCreationInfo .invoiceInfoForm {
  width: 100%;
}
/* line 644, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container .invoiceCreationInfo .invoiceInfoForm .form-group {
  margin: 10px;
  padding-bottom: 16px;
}
/* line 649, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container .invoiceCreationInfo .invoiceInfoForm .userName {
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  font-weight: bold;
}
/* line 656, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .container .invoiceCreationInfo .invoiceInfoForm label.invalid {
  font-size: 10px;
  margin-left: 5px;
  max-width: 578px;
}
/* line 665, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .saveButton {
  display: block;
  float: right;
  margin: 25px 15px;
}
/* line 670, ../sass/screen.scss */
.invoiceCrud .invoiceCrudContainer .saveButton .btn-default {
  padding: 20px 80px;
}

/* line 677, ../sass/screen.scss */
.invoiceProductsGrid {
  display: inline-block;
  margin: 20px 0 0 0;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
/* line 688, ../sass/screen.scss */
.invoiceProductsGrid .productsTableFooter {
  width: 100%;
}
/* line 691, ../sass/screen.scss */
.invoiceProductsGrid .productsTableFooter td {
  vertical-align: middle;
}
/* line 695, ../sass/screen.scss */
.invoiceProductsGrid .productsTableFooter .spacer {
  display: inline-block;
  width: 55%;
  border: solid 1px transparent;
}
/* line 701, ../sass/screen.scss */
.invoiceProductsGrid .productsTableFooter .totalBlock {
  display: inline-block;
  float: right;
}
/* line 705, ../sass/screen.scss */
.invoiceProductsGrid .productsTableFooter .totalBlock .totalTitle {
  display: inline-block;
  width: 200px;
  height: 36px;
  line-height: 36px;
  border: solid 1px lightgrey;
  background-color: #3498db;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}
/* line 717, ../sass/screen.scss */
.invoiceProductsGrid .productsTableFooter .totalBlock .totalValue {
  display: inline-block;
  width: 200px;
  height: 36px;
  line-height: 36px;
  border: solid 1px lightgrey;
  background-color: #3498db;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}
/* line 729, ../sass/screen.scss */
.invoiceProductsGrid .productsTableFooter .totalBlock .spacerButtons {
  display: inline-block;
  width: 70px;
}
