/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "lib/bootstrap-slickgrid";
@import "lib/products-slickgrid";

html {
  height: 100%;
  color: #222;
  font-size: 12px;
  line-height: 1.4;
}

body {
  height: 100%;
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
}

.viewport {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &.slide-menu-push-toright {
    .header {
      width: calc(100% - 240px);
    }
  }

  .fixed {
    z-index: 10000;
    top:0;
    position:fixed;
  }

  .headerContainer {
    display: block;
    height: 80px;
  }

  main {
    height: calc(100% - 80px);

    .contentContainer {
      height: 100%;

      .page-header {
        margin: 0 auto;
        padding: 20px 0;
        width: 100%;
        height: 74px;
        background-color: lightgrey;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }

      .gridContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 74px);
        color: #666666;
        background-color: #d9d9d9;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
      }

      .gridButtons {
        display: block;
        padding: 5px;
      }

      .gridWrapper {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .btn-default {
        color: #FFFFFF;
        background-color: #3498db;
        border-color: #dddddd;

        &:hover {
          background-color: royalblue;
        }

        &:active {
          background-color: blue;
        }
      }
    }
  }
}

.header {
  z-index: 1000;
  position: fixed;
  display: block;
  width: 100%;
  height: 80px;
  background-color: #aed7f2;
  border: solid 2px darkslategrey;
  @include transition-property(width);
  @include transition-duration(300ms);

  .showMenu {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 8px;
    border-width: 0px;
    border-style: solid;
    color: rgb(0, 0, 0);

    .btn {
      width: 60px;
      height: 60px;
      padding: 0;
      background-color: transparent;
      border: none;

      span {
        font-size: 60px;
      }
    }

    .btn:focus {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  div {
    vertical-align: middle;
  }

  .activeUser {
    display: inline-block;
    height: 100%;
    float: right;
    padding: 2px 20px;

    .userAvatar {
      display: inline-block;
      width: 76px;
      height: 100%;
      border: solid 2px green;
      border-radius: 50%;

      img {
        width:100%;
        height:100%;
        border: solid 0;
        border-radius: 50%;
      }
    }


    span {
      display: inline-block;
      padding: 0 5px;
      font-weight: bold;
      font-size: 25px;
    }

    .userDropdown {
      display: inline-block;

      .btn {
        height: 25px;
        padding: 0;
        background-color: transparent;
        border: none;

        span {
          font-size: 25px;
        }
      }

      .btn:focus {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .expand {
        transform: rotate(180deg);
      }

      .dropdown-menu {
        background: #212c33;

        li {
          border-style: solid;
          border-bottom-width: 1px;
          border-color: floralwhite;
          font-weight: bold;
          font-size: 18px;

          a {
            color: #fff;
          }

          :hover {
            background: #1b1b33;
          }

          :active {
            background: whitesmoke;
            color: #000;
          }
        }

        :last-child {
          border: none;
        }
      }

    }

  }
}

.modalWindow {
  text-align: center;

  .modal-dialog {
    display: inline-block;
    margin: auto;
    width: auto;

    .modal-content {
      width: auto;

      .modal-body {
        padding: 10px;
        width: auto;
        text-align: left;
      }
    }
  }
}



.clientForm {
  width: auto;

  .form-group {
    margin: 0;
    padding-bottom: 0;
  }

  hr {
    margin: 0;
  }

  .inline-block {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    padding-bottom: 16px;

    label.required:after {
      content: "*";
    }

    label.invalid {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 196px;
    }

    .addresses {
      margin: 0;
      width: 406px;

      .relativeBlock {
        position: relative;
        padding-bottom: 16px;
      }

      .relativeBlock:last-child {
        padding-bottom: 0;
      }

      label.invalid {
        max-width: 616px;
      }
    }
  }
}



.slide-menu {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  left: -240px;
  width: 240px;
  height: 100%;
  background: #212c33;

  .brandSection {
    display: block;
    margin: 25px 15px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;

    .brand {
      display: inline-block;
      vertical-align: middle;
      width: 76px;
      height: 76px;

      img {
        width:100%;
        height:100%;
      }
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  ul {

    li {
      border-top: 1px solid #ffffff;

      a {
        display: block;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
        border: none;
        text-decoration: none;

        span {
          margin: 0 20px;
        }

        &.active {
          background: whitesmoke;
          color: #000;
        }
      }

      a:hover {
        background: #1b1b33;
        color: #fff;
      }

      a:active {
        background: whitesmoke;
        color: #000;
      }
    }

    li:last-child {
      border-bottom: 1px solid #ffffff;
    }


  }

}

.slide-menu-open {
  left: 0;
}

.slide-menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.slide-menu-push-toright {
  left: 240px;
  width: calc(100% - 240px);
}

.slide-menu,
.slide-menu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.loginContainer {
  width: 20%;
  margin: 0 auto;

  .brand {
    text-align: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .loginForm {

    label {
      padding: 3px;
    }

    .forgotPasswordLabel {
      float: right;
    }

    .backToLoginLabel {
      float: left;
    }

    label.invalid {
      padding: 0;
    }
  }

  .signIn, .send {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #005dcc;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
  }
}

label.invalid {
  color: darkred;
}

label.success {
  color: darkgreen;
}

.form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 16px;

  label.invalid {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}


.form-control.invalid {
  border-color: rgba(139, 0, 0, 1.0);
}

.form-control.invalid:focus {
  border-color: rgba(139, 0, 0, 1.0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(139, 0, 0, 0.8);
  outline: 0 none;
}

.form-control.success {
  border-color: rgba(0, 100, 0, 1.0);
}

.form-control.success:focus {
  border-color: rgba(0, 100, 0, 1.0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 100, 0, 0.8);
  outline: 0 none;
}

.slick-header *, *:before, *.after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}



.modalWindow {

  .modal-dialog {
    vertical-align: middle;
  }

  .modal-header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  label {
  }
}

.editWrapper {
  margin: 10px 5px;
}

.userForm {

  label.required:after {
    content: "*";
  }

  .form-group {
    padding: 0;

    .inline-block {
      position: relative;
      display: inline-block;
      vertical-align: top;
      padding-bottom: 16px;
    }

    .oldPasswordBlock {
      position: relative;
      display: block;
      vertical-align: top;
      padding-bottom: 16px;

      .form-control {
        width: auto;
      }
    }
  }


}

.userAvatar {
  display: inline-block;
  width: 100%;
  height: 100%;

  img {
    display: block;
    margin: auto;
    width: 76px;
    height: 76px;
    border: solid 2px darkgreen;
    border-radius: 50%;
  }
}

.invoiceCrud {

  .invoiceCrudContainer {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background-color: #eaeaea;

    .controlButton {
      padding-bottom: 10px;
    }

    .container {
      overflow: hidden;
      width: 100%;

      .form-group {
        margin: 5px;
      }

      .clientDetails {
        float: left;
        display: inline-block;
        border: solid 1px;
        background-color: #FFFFFF;
        vertical-align: top;

        .title {
          width: 100%;
          height: 50px;
          line-height: 50px;
          background-color: #3498db;
          color: #FFFFFF;
          text-align: center;
          margin-bottom: 15px;
          font-weight: bold;
        }
      }

      .invoiceCreationInfo {
        float: right;
        display: block;
        overflow:hidden;
        width: 250px;
        border: solid 1px;
        background-color: #FFFFFF;
        vertical-align: top;

        .title {
          width: 100%;
          height: 50px;
          line-height: 50px;
          background-color: #3498db;
          color: #FFFFFF;
          text-align: center;
          margin-bottom: 15px;
          font-weight: bold;
        }

        .invoiceInfoForm {
          width: 100%;

          .form-group {
            margin: 10px;
            padding-bottom: 16px;
          }

          .userName {
            display: inline-block;
            margin-left: 5px;
            text-align: center;
            font-weight: bold;
          }

          label.invalid {
            font-size: 10px;
            margin-left: 5px;
            max-width: 578px;
          }
        }
      }
    }

    .saveButton {
      display: block;
      float: right;
      margin: 25px 15px;

      .btn-default {
        padding: 20px 80px;
      }
    }
  }
}

.invoiceProductsGrid {
  display: inline-block;
  margin: 20px 0 0 0;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;

  .productsGridWrapper {
  }

  .productsTableFooter {
    width: 100%;

    td {
      vertical-align: middle;
    }

    .spacer {
      display: inline-block;
      width: 55%;
      border: solid 1px transparent;
    }

    .totalBlock {
      display: inline-block;
      float: right;

      .totalTitle {
        display: inline-block;
        width: 200px;
        height: 36px;
        line-height: 36px;
        border: solid 1px lightgrey;
        background-color: #3498db;
        color: #FFFFFF;
        text-align: center;
        font-weight: bold;
      }

      .totalValue {
        display: inline-block;
        width: 200px;
        height: 36px;
        line-height: 36px;
        border: solid 1px lightgrey;
        background-color: #3498db;
        color: #FFFFFF;
        text-align: center;
        font-weight: bold;
      }

      .spacerButtons {
        display: inline-block;
        width: 70px;
      }
    }


  }
}