<div>
    <form role="form" class="editForm clientForm">

        <div class="form-group">
            <div class="inline-block">
                <label for="email" class="inputLabel">Email address:</label>
                <input type="email" class="form-control" id="email" name="email" spellcheck="false">

            </div>
            <div class="inline-block">
                <label for="phone" class="inputLabel">Phone Number:</label>
                <input type="text" class="form-control" id="phone" name="phone" spellcheck="false">
            </div>
            <div class="inline-block">
                <label for="organization">Organization:</label>
                <input type="text" class="form-control" id="organization" name="organization" spellcheck="false"
                       required>
            </div>
        </div>

        <div class="form-group">
            <div class="inline-block">
                <label for="firstName">First name:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" spellcheck="false">
            </div>
            <div class="inline-block">
                <label for="lastName">Last name:</label>
                <input type="text" class="form-control" id="lastName" name="lastName" spellcheck="false">
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="inline-block">
                <label for="country" class="inputLabel">Country:</label>
                <input type="text" class="form-control addressGroup" id="country" name="country" spellcheck="false">
            </div>
            <div class="inline-block">
                <label for="state" class="inputLabel">State:</label>
                <input type="text" class="form-control addressGroup" id="state" name="state" spellcheck="false">
            </div>
            <div class="inline-block">
                <label for="city" class="inputLabel">City:</label>
                <input type="text" class="form-control addressGroup" id="city" name="city" spellcheck="false">
            </div>
        </div>

        <div class="form-group">
            <div class="inline-block">
                <label for="zip" class="inputLabel">ZIP code:</label>
                <input type="text" class="form-control addressGroup" id="zip" name="zip" spellcheck="false">
            </div>
            <div class="inline-block">
                <div class="addresses">
                    <div class="relativeBlock">
                        <label for="firstAddress" class="inputLabel">Address Line 1:</label>
                        <input type="text" class="form-control addressGroup" id="firstAddress" name="firstAddress"
                               spellcheck="false">
                    </div>
                    <div class="relativeBlock">
                        <label for="secondAddress">Address Line 2:</label>
                        <input type="text" class="form-control secondAddress" id="secondAddress" name="secondAddress"
                               spellcheck="false">
                    </div>
                </div>

            </div>
        </div>

        <button type="submit" hidden="true"></button>
    </form>
</div>
