<div class="page-header">
    <h1>CLIENTS MANAGEMENT</h1>
</div>
<div class="gridContainer">
    <div class="gridButtons">
        <a href="#clients/add">
            <button class="btn btn-default">Add Client</button>
        </a>
    </div>


    <div class="gridWrapper"></div>
</div>
