<div class="viewport">

    <nav class="slide-menu">
        <div class="brandSection">
            <div class="brand">
                <img src="img/CRM.png">
            </div>
            <span>IQRIA CRM</span>
        </div>
        <ul class="navItems">
            <li>
                <a class="usersLink" href="#users/list"><span class="glyphicon glyphicon-user"></span>Users</a>
            </li>
            <li>
                <a class="clientsLink" href="#clients/list"><span class="glyphicon glyphicon-star"></span>Clients
                </a>
            </li>
            <li>
                <a class="invoicesLink" href="#invoices/list"><span class="glyphicon glyphicon-shopping-cart"></span>Invoices</a>
            </li>
        </ul>
    </nav>

    <div class="headerContainer">
        <header class="header">

            <div class="showMenu">
                <button class="btn">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>

            <div class="activeUser">
                <div class="userAvatar">
                    <img src="<%= userAvatar %>">
                </div>
                <span><%= username %></span>
                <ul class="userDropdown">
                    <li class="dropdown pull-right">
                        <button class="showUserActions btn" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </button>
                        <ul class="dropdown-menu pull-left">
                            <li><a href="#profile">Profile</a></li>
                            <li><a href="#logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </header>
    </div>




    <main>

        <div class="contentContainer">

        </div>

    </main>

</div>