<div class="modalWindow">
    <!-- Modal -->
    <div class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close">&times;</button>
                    <h4 class="modal-title"><%= title %></h4>
                </div>

                <div class="modal-body"></div>

            </div>

        </div>
    </div>
</div>
