<div class="loginContainer">
    <div class="brand">
        <img src="img/CRM.png">
    </div>
    <div class="title">Sign In</div>
    <form role="form" class="loginForm">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" spellcheck="false" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" spellcheck="false" required>
            <a class="text-right forgotPasswordLabel" href="#passwordRecovery">I forgot my password</a>
        </div>




        <div class="span7 text-center">
            <button type="submit" class="btn btn-default signIn">Sign in</button>
        </div>
    </form>
</div>