<div class="loginContainer">
    <div class="brand">
        <img src="img/CRM.png">
    </div>
    <div class="title">Password Recovery</div>
    <form role="form" class="passwordRecoveryForm">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" spellcheck="false" required>
        </div>

        <a class="backToLoginLabel" href="#login">Back to login</a>

        <div class="span7 text-center">
            <button type="submit" class="btn btn-default send">Send</button>
        </div>
    </form>
</div>