.invoiceProductsGrid {

  .renderGrid.grid {
    position: relative;
    width: 100%;
    border-width: 1px;
    border-color: #dedede;
    border-style: solid;
    text-align: center;
  }

  .grid .grid-canvas .slick-row {
    border: 0 none;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    background-image: none;
  }

  .grid .grid-canvas .slick-row:active,
  .grid .grid-canvas .slick-row:hover {
    background-color: #c4e3f3;
  }

  .grid .grid-canvas .slick-cell,
  .grid .grid-canvas .slick-headerrow-column {
  }

  .grid .grid-canvas .slick-cell a .glyphicon {
    color: black;
  }

  .grid .grid-canvas .slick-cell a .glyphicon-pencil {
    color: black;
  }

  .grid .grid-canvas .slick-cell a .glyphicon-off {
    color: green;
  }

  .grid .grid-canvas .slick-cell a .glyphicon-off.inactive {
    color: red;
  }

  .grid .grid-canvas .slick-cell .buttons {
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
  }

  .grid .grid-canvas .slick-cell .buttons a {
    display: inline-block;
    line-height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 24px;
  }

  .grid .grid-canvas .slick-cell td {
    font-size: 14px;
  }

  .grid .grid-canvas .slick-cell a,
  .grid .grid-canvas .slick-cell a:visited,
  .grid .grid-canvas .slick-cell .ui-widget-content a,
  .grid .grid-canvas .slick-cell .ui-widget-content a:visited {
    color: #0088cc;
    text-decoration: none;
  }

  .grid .grid-canvas .slick-cell a:hover,
  .grid .grid-canvas .slick-cell .ui-widget-content a:hover {
    color: #005580;
    text-decoration: none;
    border-bottom: none;
  }

  .grid .slick-header-columns {
    background-color: #3498db;
  }

  .grid .slick-header-columns .slick-header-column {
    height: 42px;
    line-height: 42px;
    margin: 0;
    border-color: lightgrey;
    background: transparent;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  }

  .grid .slick-header-columns .slick-header-column a,
  .grid .slick-header-columns .slick-header-column a:visited {
    color: #333333;
  }

  .grid .slick-header-columns .slick-header-column a:hover {
    color: #333333;
  }

  .grid .slick-header-columns .slick-header-column.ui-state-default {
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  }

  .grid .slick-header-columns .slick-header-column.ui-state-default a,
  .grid .slick-header-columns .slick-header-column.ui-state-default a:visited {
    color: #333333;
  }

  .grid .slick-header-columns .slick-header-column.ui-state-default a:hover {
    color: #333333;
  }

  .grid .slick-header-columns .slick-header-column.slick-header-column-sorted {
    font-style: normal;
    color: #333333;
  }

  .grid .slick-header-columns .slick-header-column:hover {
    color: #333333;
  }

  .grid .slick-header-columns .slick-header-column .slick-sort-indicator-asc {
    vertical-align: middle;
  }

  .grid .slick-header-columns .slick-header-column .slick-sort-indicator-desc {
    vertical-align: middle;
  }

  .grid-col {
    padding: 35px;
  }

  .info-col {
    padding: 20px;
  }

  input.editor-text {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    background: transparent;
    outline: 0;
    padding: 0;
    text-align: center;
  }


  .grid .grid-canvas .slick-cell, .grid .grid-canvas .slick-headerrow-column {
    border: 1px solid lightgrey;
  }

  .grid .slick-cell.invalid {
    border-color: red;
    -moz-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    -moz-animation-name: slickgrid-invalid-hilite;
    -webkit-animation-name: slickgrid-invalid-hilite;
  }

  .grid .slick-cell {

    .validInput {

    }

    .invalidInput {
      display: inline-block;
      width: 100%;
      height: 100%;

      .glyphicon-exclamation-sign {
        position: absolute;
        right: 0;
        color: red;
      }
    }

    .removeItem {
      display: inline;
      cursor: pointer;
      font-size: 24px;
    }
  }
}