<div>
    <form role="form" class="editForm invoiceInfoForm">

        <div class="form-group">
            <label for="invoiceId">Invoice ID:</label>
            <input type="text" class="form-control" id="invoiceId" name="invoiceId" value="<%= invoiceId %>" required>
        </div>
        <div class="form-group">
            <label for="dateCreated">Date:</label>
            <input type="text" class="form-control" id="dateCreated" name="dateCreated" value="<%= dateCreated %>" required>
        </div>
        <div class="form-group">
            <label for="userId">User:</label>
            <input type="text" id="userId" name="userId" value="<%= userId %>" hidden="true">
            <div class="userName">
                <span class="glyphicon glyphicon-user"></span> <span id="username"><%= username %></span>
            </div>
        </div>

        <button type="submit" hidden="true"></button>
    </form>
</div>
