<div class="invoiceCrud">
    <div class="page-header">
        <h1><%= title %></h1>
    </div>

    <div class="invoiceCrudContainer">
        <div class="controlButton">
            <a href="#invoices/list">
                <button class="btn btn-default">Back</button>
            </a>
        </div>

        <div class="container">
            <div class="clientDetails">
                <div class="title">
                    <h2>Client Details</h2>
                </div>

                <div class="clientForm"></div>
            </div>

            <div class="invoiceCreationInfo">
                <div class="title">
                    <h2>Invoice Info</h2>
                </div>

                <div class="invoiceCreationForm">
                    <form role="form" class="editForm invoiceInfoForm">

                        <div class="form-group">
                            <label for="invoiceId">Invoice ID:</label>
                            <input type="text" class="form-control" id="invoiceId" name="invoiceId" required>
                        </div>
                        <div class="form-group">
                            <label for="dateCreated">Date:</label>
                            <input type="text" class="form-control" id="dateCreated" name="dateCreated" required>
                        </div>
                        <div class="form-group">
                            <div class="userName">
                                <span class="glyphicon glyphicon-user"></span> <span id="username"></span>
                            </div>
                        </div>

                        <button type="submit" hidden="true"></button>
                    </form>
                </div>
            </div>

            <div class="invoiceProductsGrid">
                <div class="productsGridWrapper"></div>
                <div class="productsTableFooter">
                    <div class="spacer">
                        <button class="btn btn-default addLineButton">+ Add Line</button>
                    </div>
                    <div class="totalBlock">
                        <div class="totalTitle">Total</div><div class="totalValue">$0</div><div class="spacerButtons"></div>
                    </div>
                </div>
            </div>

            <div>
                <div class="saveButton">
                    <button class="btn btn-default">Save</button>
                </div>
            </div>
        </div>


    </div>
</div>