<div class="page-header">
    <h1>INVOICES MANAGEMENT</h1>
</div>
<div class="gridContainer">
    <div class="gridButtons">
        <a href="#invoices/add">
            <button class="btn btn-default">Add Invoice</button>
        </a>        
    </div>
    <div class="gridWrapper"></div>
</div>