<div>
    <div class="userAvatar">
        <img src="">
    </div>
    <div class="form-group">
        <label for="avatar">Avatar:</label>
        <input type="file" accept="image/*" class="btn btn-default btn-file" id="avatar" name="avatar" required>
    </div>
    <form role="form" class="editForm userForm">

        <div class="form-group">
            <div class="inline-block">
                <label for="firstName">First name:*</label>
                <input type="text" class="form-control" id="firstName" name="firstName" spellcheck="false" required>
            </div>

            <div class="inline-block">
                <label for="lastName">Last name:*</label>
                <input type="text" class="form-control" id="lastName" name="lastName" spellcheck="false" required>
            </div>
        </div>


        <div class="form-group">
            <div class="inline-block">
                <label for="phone">Phone:*</label>
                <input type="text" class="form-control" id="phone" name="phone" spellcheck="false" required>
            </div>

            <div class="inline-block">
                <label for="email">Email address:*</label>
                <input type="email" class="form-control" id="email" name="email" spellcheck="false" required>
            </div>
        </div>

        <div class="form-group passwordGroup" hidden>
            <div class="oldPasswordBlock">
                <label for="oldPassword" class="inputLabel">Old Password:</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" spellcheck="false">
            </div>

            <div class="inline-block">
                <label for="newPassword" class="inputLabel">Password:</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" spellcheck="false">
            </div>

            <div class="inline-block">
                <label for="passwordRepeat" class="inputLabel">Repeat password:</label>
                <input type="password" class="form-control passwordRepeat" id="passwordRepeat" name="passwordRepeat"
                       spellcheck="false">
            </div>
        </div>

        <div class="form-group roleFormGroup">
            <label for="role">Role:</label>

            <select class="form-control" id="role" name="role">
                <option>sales person</option>
                <option>admin</option>
            </select>
        </div>

        <button type="submit" hidden="true"></button>
    </form>
</div>
