<div class="page-header">
    <h1>USERS MANAGEMENT</h1>
</div>
<div class="gridContainer">
    <div class="gridButtons">
        <a href="#users/add">
            <button class="btn btn-default">Add User</button>
        </a>
    </div>
    <div class="gridWrapper"></div>
</div>