<div class="modalWindow">
    <!-- Modal -->
    <div class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close">&times;</button>
                    <h4 class="modal-title"><%= title %></h4>
                </div>

                <div class="modal-body">
                    <p>Are you sure you want to delete this <%= modelName %>?</p>
                </div>

                <div class="modal-footer">
                    <div class="span7 text-center">
                        <button class="btn btn-success yesButton">Yes</button>
                        <button class="btn btn-default cancelButton">Cancel</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
